.Rproj.user
.Rhistory
.RData
.Ruserdata
Team_Evals(1).xlsx
pre_class_survey_data.csv
lab_clustering_4001_fall_answers.R
ML_Bootcamp_Lab.html
Class_Assessment_Spring_2022.csv
Distibution of Majors.pdf
README.html
Introduction_Framework_Overview_1.pptx
README.html
in_class_example_knitr.html
Lab_Overview.html
Decision_Tree_Lab_Answers.Rmd
03_Communications/presentation_example.html
05_ML_Concepts_II_Data_Prep/machine_learning_bootcamp.pptx
08_DT_Class/~$Decision_Trees_3.24.22.pptx
10_kMeans Clustering/Clustering_InClass_python.pptx
